#homesection{
  height: 89vh;
  background-image: url(https://m.media-amazon.com/images/S/aplus-media-library-service-media/6b040700-5c94-4f5a-addd-c3d02de90e92.__CR0,0,1464,625_PT0_SX1464_V1___.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
